body {
	margin: 0;
}

header {
	display: flex;
	align-items: center;
	gap: 2em;
	padding: .5em 1em .5em 1em;
	background: var(--background-header);
	margin: 0 auto 0 auto;
}

/* nav */
h1 {
	margin: 0;
	color: #c74634;
	margin-right: 2em;
	padding-left: 2em;
	font-size: 2em;
}

header a {
	text-decoration: none;
	padding: .5em 0 .5em 0;
	font-size: 1em;
	font-family: sans-serif;
	color: var(--nav-text);
}


nav {
	color: var(--nav-text);
}

nav img {
	width: 120px;
}

nav ul {
	list-style: none;
	display: flex;
	gap: .5em;
	margin: 0;
	padding: 0;
}


