/* er is nieuwe css maar omdat ik het moest om gooien naar een kleinere pagina is het nog best gebroken
    Ik gebruik dit nu voor vragen omdat de website er nog goed uitziet en gebruik de feedback voor het opnieuw
    maken van mijn website */
body {
  background-color: rgb(209, 207, 207);
  font-family: sans-serif;
}

main{
  padding: 5rem 0 1rem 0;
  display:  grid;
  grid-template-columns: 10rem 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-image: url(../images/page1background.png);
}

/* switch to rem */

/* first section */
/* section */
main article:nth-of-type(1) {
  display: flex;
  max-width: 75em;
  margin: 1em 1em auto 1em;
  grid-column-start: 2;
}
/* section */
main article:nth-of-type(1) ul {
  list-style: none;
  margin:0 0 2em;
	padding:0 0 1em;
  display:flex;
	overflow-x:auto;
	scroll-snap-type:x mandatory;
	scroll-behavior:smooth;
	overscroll-behavior-x:contain;
	scrollbar-width:none;
  anchor-name: --carousel; /*weet niet hoe dit werkt */
}

div button:hover {
  color: black;
}

/* weet niet hoe dit werkt */
/* section */
main article:nth-of-type(1) ul {
  &::scroll-button(*) {
    position: fixed;
    position-anchor: --carousel;
    position-visibility: always;
    font-family: sans-serif;
  }

  &::scroll-button(right) {
    position-area: right;
		justify-self:end;
    content: '>' / 'Next';
    font-size: 4rem;
    border-style: none;
    background: transparent;
  }

  &::scroll-button(left) {
    position-area: left;
    content: '<' / 'Previous';
    font-size: 4rem;
		justify-self:start;
    border-style: none;
    background: transparent;
    z-index: 10;
  }
}
/* section */
main article:nth-of-type(1) li {
	flex-basis:100%;
	flex-shrink:0;
	scroll-snap-align:center;
}

div {
  background-color: white;
  margin-top: 2em;
  width: 40rem;
  padding: 2rem;
}

div > a {
  background-color: var(--buttonDiv);
  color:var(--text);
  text-decoration: none;
  border-radius: 5%;
  padding: .8rem;
}
/* section */
main article:nth-of-type(1) img {
	max-width:100%;
}

@media (width > 40em) {
	/* section */
	main article:nth-of-type(1) li {
		display:grid;
		grid-template-columns:1fr 32em 1fr;
		grid-template-rows:1em max-content 1em;
	}
	/* section */
	main article:nth-of-type(1) img {
		grid-row-start:1;
		grid-row-end:3;
		grid-column-start:1;
		grid-column-end:3;
	}
	
	div {
		grid-row-start:1;
		grid-row-end:4;
		grid-column-start:2;
		grid-column-end:4;
		
		z-index:1;
	}
  /* section */
	article:nth-of-type(2) {
    grid-row-start: 2;
  }
}

/* second article */
/* section */
article:nth-of-type(2) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  grid-column-start: 1 ;
  grid-column-end: 3;
  padding: 0 0 1em 1em;
}

/* verander naar secion > li */
article:nth-of-type(2) > section { 
  background-color: white;
  padding: 1rem 2rem 0rem 0rem;
  display: grid;
  grid-template-rows: 6rem 6rem max-content;
}

/* section > li */
article:nth-of-type(2) > section h3 {
  padding-bottom: 1rem;
}
/* section */
article:nth-of-type(2) > section img {
  padding-bottom: 2rem;
}

article:nth-of-type(3) > section:nth-of-type(1) {
  background-image: url(../images/panelGreen.jpg);
  
}

article:nth-of-type(3) > section:nth-of-type(2) {
  background-image: url(../images/panelBlue.jpg);
}


/* third article */
article:nth-of-type(3) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-content: center;
  color: white;
}

article:nth-of-type(3) section:nth-of-type(1) {
  grid-column-start: 1;
  grid-column-end: 2;
  padding-right: 3rem;
}

article:nth-of-type(3) section:nth-of-type(2) {
  grid-column-start: 3;
  grid-column-end: 4;
  padding-left: 3rem;
  width: max-content;
}

/* section li */
article:nth-of-type(3) section:nth-of-type(1) {
  text-align: right; 
  
}
/* section */
article:nth-of-type(4) {
  grid-row-start: 4;
}

/* te groot, text orientation, side button */
/* geef titles aan img en h2 */