
body {
  background-color: rgb(209, 207, 207);
  font-family: sans-serif;
}

li {
  list-style: none;
}

main{
  background-image: url(../images/page1background.png);
}

/* first section */
main section:nth-of-type(1) {
  display: flex;
  max-width: 75em;
  /* grid-column-start: 2; */
}

main section:nth-of-type(1) ul {
  margin: 0;
	padding: 0;
  display:flex;
	overflow-x:auto;
	scroll-snap-type:x mandatory;
	scroll-behavior:smooth;
	overscroll-behavior-x:contain;
	scrollbar-width:none;
  anchor-name: --carousel;
}

/* div button:hover {
  background-color: white;
} */

main section:nth-of-type(1) li {
	flex-basis:100%;
	flex-shrink:0;
	scroll-snap-align:center;
}

main section:nth-of-type(1) img {
	max-width:100%;
  display: block;
}

div {
  background-color: white;
  padding: 2rem;
}

div > a {
  background-color: var(--buttonDiv);
  color:var(--text);
  text-decoration: none;
  border-radius: 5%;
  padding: .8rem;
}

/* --- groot scherm --- */
@media (width > 40em) {
  
  /* weet niet hoe dit werkt */
  main section:nth-of-type(1) ul {
    &::scroll-button(*) {
      position: fixed;
      position-anchor: --carousel;
      position-visibility: always;
      font-family: sans-serif;
    }

    &::scroll-button(right) {
      position-area: right;
      justify-self:end;
      content: '>' / 'Next';
      font-size: 4rem;
      border-style: none;
      background: transparent;
    }

    &::scroll-button(left) {
      position-area: left;
      content: '<' / 'Previous';
      font-size: 4rem;
      justify-self:start;
      border-style: none;
      background: transparent;
      z-index: 10;
    }
  }


	main section:nth-of-type(1) li {
		display:grid;
		grid-template-columns:1fr 32em 1fr;
		grid-template-rows:1em max-content 1em;
	}
	
	main section:nth-of-type(1) img {
		grid-row-start:1;
		grid-row-end:3;
		grid-column-start:1;
		grid-column-end:3;
	}
	
	div {
		grid-row-start:1;
		grid-row-end:4;
		grid-column-start:2;
		grid-column-end:4;
		
		z-index:1;
	}
  
	section:nth-of-type(2) {
    grid-row-start: 2;
  }
}


/******************/
/* second section */
/******************/



section:nth-of-type(2) ul {
  margin: 2.5rem;
  padding: 0;
  display: grid;
  gap: 1rem;
}


section:nth-of-type(2) li { 
  background-color: white;
  padding-left: 1rem;
  padding-right: 1rem;

}

section:nth-of-type(2) > li h3 {
  padding-bottom: 1rem;
}

section:nth-of-type(2) > li img {
  padding-bottom: 2rem;
}

section:nth-of-type(3) ul {
  padding: 0;
}

/* third section */

section:nth-of-type(3) li:nth-of-type(1) {
  background-image: url(../images/panelGreen.jpg);
  color: white;
}

section:nth-of-type(3) li:nth-of-type(2) {
  background-image: url(../images/panelBlue.jpg);
  color: white;
}

section:nth-of-type(3) li {
  padding: 1rem;
}

section:nth-of-type(3) a {
  color: black;
  background-color: white;
  text-decoration: none;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  display: inline-block;
}


/* section:nth-of-type(3) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-content: center;
  color: white;
}

section:nth-of-type(3) li:nth-of-type(1) {
  grid-column-start: 1;
  grid-column-end: 2;
  padding-right: 3rem;
}

section:nth-of-type(3) li:nth-of-type(2) {
  grid-column-start: 3;
  grid-column-end: 4;
  padding-left: 3rem;
  width: max-content;
}


section:nth-of-type(3) li:nth-of-type(1) {
  text-align: right; 
}

section:nth-of-type(4) {
  grid-row-start: 4;
} */

/* te groot, text orientation, side button */
/* geef titles aan img en h2 */