/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  

  /* border:solid 1px red; */
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--background-header:#312d2a;
	--text:#ffffff;
	--oracleserif: "Georgia", "Times", "Garamond", serif;
  --buttonDiv: #312d2a;
}


.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


/****************/
/* JOUW STYLING */
/****************/




body {
	margin: 0;
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
	display: flex;
	align-items: center;
	gap: 2em;
	padding: .5em 0 .5em 1em;
	background-color: var(--background-header);
	margin: 0 auto 0 auto;
}

/* nav */
h1 {
	margin: 0;
	color: #c74634;
	margin-right: 2em;
	padding-left: 2em;
	font-size: 2em;
}

header a {
	text-decoration: none;
	padding: .5em 0 .5em 0;
	font-size: 1em;
	font-family: sans-serif;
	color: var(--text);
}


nav ul {
	list-style: none;
	display: flex;
	gap: 1em;
	margin: 0;
	padding: 0;
}

header > ul {
  list-style: none;
  display: flex;
  gap: 1em;
}

header svg {
  fill: white;
  width:1.5em;
  height:1.5em;
}


footer {
  background-color: var(--background-header);
  color: white;
}

footer ul {
	list-style: none;
}

