/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--background-header:#312d2a;
	--nav-text:#ffffff;
	--oracleserif: "Georgia", "Times", "Garamond", serif;
}



/****************/
/* JOUW STYLING */
/****************/


body {
  background-color: rgb(209, 207, 207);
  font-family: sans-serif;
}

main{
  padding: 1em 0 1em 0;
}

main article:nth-of-type(1) {
  display: flex;
  gap: 1.25em;
  align-items: flex-start;
  max-width: 75em;
  margin: auto 1em auto 1em;
}

main article:nth-of-type(1) section:nth-of-type(2) {
  background-color: white;
}


