
/* Page 2 */

header{
    position: relative;
    z-index: 0;
    grid-template-rows: 4em 8em auto auto auto auto;
    grid-template-columns: auto 1fr 1fr auto;
    /* ai help met het fixen van mijn gradient */
    background: linear-gradient(var(--color-gradient1) 80%, var(--color-background));
}

/* ------==Header==------ */

/* Pathe logo */
header > a {
	grid-row-start: 1;
	grid-column-start: 1;
	margin: .5em 0 0 1em;
}

header > a img {
    height: 4em;
    width: 4em;
}

/* background image */
header > img:nth-of-type(1) {
	grid-row: 1 / 6;
	grid-column: 1 / -1;
    position: absolute;
    inset: 0;
    z-index: -1;
	width: 100%;
	height: 100%;
    object-fit: cover;
}

header div {
    grid-row: 1 / 6;
    grid-column: 1 / -1;
    position: absolute;
    inset: 0;
    z-index: -1;
    background: linear-gradient(transparent 50%, var(--color-gradient1) 100%), radial-gradient(transparent 60%, rgba(0,0,0,0.6) 100%);
}

/* play button */
header section > button:nth-of-type(1) {
    grid-row-start: 2;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5em;
    height: 3em;
    margin-bottom: 1em;
    background-color: var(--color-button3);
    border: none;
    border-radius: 8px;
    color: var(--color-text2);
}

header section > button:nth-of-type(1) svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
}

/* Film title */
header section h1 {
    grid-row-start: 3;
    grid-column: 1 / -1;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-text2);
    font-size: 2rem;
    margin: 0 1rem 2rem;
}

/* watchlist en beoordelen buttons */
header section > button:nth-of-type(2), header section > button:nth-of-type(3) {
    grid-row-start: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    background-color: var(--color-button3);
    color: var(--color-text2);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: .8rem;
}

header section > button:nth-of-type(2) {
    grid-column: 1 / 3;
    margin: 0 .5rem 1.5rem 1rem;
    padding: 1rem 0;
}

header section > button:nth-of-type(3) {
    grid-column: 3 / 5;
    margin: 0 1rem 1.5rem .5rem;
    padding: 1rem;
}

/* info list */
header section > ul {
    grid-column: 1 / -1;
    grid-row-start: 5;
    display: flex;
    align-items: center;
    gap: .5rem;
    list-style: none;
    margin: 0 1rem;
    padding: 0;
    color: var(--color-text2);
    font-size: .8rem;
}

header section > ul > li {
    display: flex;
    align-items: center;
}

/* puntjes tussen lijst items */
header section > ul > li:not(:last-of-type)::after {
    content: "•";
    margin-left: .5rem;
}

/* likes */
header section > ul button {
    display: flex;
    align-items: center;
    gap: .2rem;
    background: none;
    border: none;
    color: var(--color-text2);
    font-size: 1rem;
    padding: 0;
}

header section > ul button svg {
    height: 1em;
    width: 1em;
    fill: currentColor;
}

/* waarschuwingen */
header section > ul img {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 10px;
}

header section > ul ul {
    display: flex;
    gap: .3em;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* releasedatum en acteurs */

header section > p {
    grid-column: 1 / -1;
    margin: .5rem 1rem 0;
    color: var(--color-text2);
    font-size: .8rem;
    line-height: 1.2rem;
}

/* voor groot scherm */
header section > p:nth-of-type(3) {
    display:none;
}

/* info, trailers, details */
header section > a {
    grid-column: 1 / -1;
    margin: 1rem 1rem 2rem;
    color: var(--color-text2);
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .3em;
    font-size: .9rem;
}

/* extra informatie */
header section details {
    grid-column: 1/ -1;
    margin: 0 1em;
    padding-bottom: 1em;
    background-color: var(--color-background2);
    border-radius: 8px;
}

/* moest ai vragen hoe ik dit deed */
header section details::details-content {
    content-visibility: visible;
}

header section details:not([open]) p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

header section details summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text2);
    font-weight: bold;
    list-style: none;
    padding: 1em;
    cursor: pointer;
}

header section details p {
    padding: 0 1em;
    margin: 0;
    color: var(--color-text2);
}

/* koop nu knop (niet in header)*/
    body > a {
        position: fixed;
        bottom: 5em;
        left: 1em;
        right: 1em;
        z-index: 4;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5em;
        padding: 1em;
        background-color: var(--color-button1);
        color: var(--color-text);
        text-decoration: none;
        border-radius: 8px;
        animation-name: remove-boek-nu;
        animation-timing-function: linear;
        animation-fill-mode: both;
        animation-timeline: scroll();
        animation-range: 0 150px;
    }

    body > a svg {
        transform: rotate( -20deg);
    }

/* ------==Main==------ */


/* waar, dage en bioscoop locatie */
main section:nth-of-type(1) {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    align-items: center;
    column-gap: .5em;
    row-gap: 2em;
    margin-top: 2em;
    padding: 0 0 0 1em;
}

/* waar? */
main section:nth-of-type(1) h2 {
    grid-row-start: 1;
	grid-column-start: 1;
	width: fit-content;
	padding: .7rem;
	margin: 1.2rem 0 1rem;
	z-index: 1;
	transform: rotate(-7deg);
	background-color: var(--color-button1);
	font-size: 1rem;
	border-radius: 6px;
}

/* locatie */
main search {
    grid-row-start: 1;
    grid-column: 1 / -1;
    display: flex;
    margin-right: 1em;
    border: 1px solid grey;
    border-radius: 8px;
    background-color: var(--color-button2);
}

main search > button:nth-of-type(1) {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 1em 1em 6em;
    color: var(--color-text2);
    font-weight: bold;
    background: none;
    border: none;
}

main search > button:nth-of-type(2), main search > button:nth-of-type(3) {
    display: none;
}

main search svg {
    height: 1.5em;
    width: 1.5em;
}

/* filter */
main section:nth-of-type(1) > button {
    grid-row-start: 2;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 .8em;
    border: none;
    border-radius: 8px;
    background-color: var(--color-button2);
    color: var(--color-text2);
}

main section:nth-of-type(1) > button:not(:nth-of-type(1)) {
    display: none;
}

main section:nth-of-type(1) > button:nth-of-type(1) {
    grid-column-start: 1;
    font-size: 0;
}


main section:nth-of-type(1) > button svg {
    width: 1.5rem;
    height: 1.5rem;
}

/* dagen */
main section:nth-of-type(1) > ul {
    grid-row-start: 2;
    grid-column-start: 2;
    display: flex;
    gap: .5em;
    overflow-x: auto;
    list-style: none;
    margin: 0;
    padding: 0;
}

main section:nth-of-type(1) > ul::-webkit-scrollbar {
    display: none;
}

main section:nth-of-type(1) > ul > li {
    flex: 0 0 auto;
}

main section:nth-of-type(1) label {
    display: block;
    padding: .8em 1em;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: var(--color-button2);
    color: var(--color-text2);
    font-weight: bold;
     
}

/* help van ai */
input[type="radio"] {
    appearance: none;
    margin: 0;
}


main section:nth-of-type(1) label:has(input:checked) {
    border-color:var(--color-text2);
}

main section:nth-of-type(1) label:has(input:focus-visible) {
    outline: 2px solid var(--color-button1);
}

/* locatie en film tijd */
main article > ul > li:not(:nth-of-type(1)) {
    display: none;
}

main section:nth-of-type(1) > article {
    grid-column: 1 / -1;
    margin: 0;
    padding: 0 1em 0 0;
}

main article {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 1em;
    margin: 3em 0;
    padding: 0 1em;
}

main article > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    border: none;
    border-radius: 8px;
    background-color: var(--color-button2);
    color: var(--color-text2);
}

main article > a {
    color: var(--color-text2);
    text-decoration: none;
}

main article > a h3 {
    display: flex;
    align-items: center;
    gap: .3rem;
    margin: 0;
    font-size: 1.2rem;
}

main article > a svg {
    width: 1.2em;
    height: 1.2em;
}

main article > a p {
    margin: .2rem 0 0;
    color: var(--color-text3);
    font-size: .9rem;
}

main article h4 {
    grid-column: 1 / -1;
    margin: 1.5rem 0 1rem 0;
    color: var(--color-text2);
    font-size: .9rem;
}

main article > ul {
    grid-column: 1 / -1;
    display: flex;
    gap: .5em;
    overflow-x: auto;
    list-style: none;
    margin: 0;
    padding: 0;
}

main article > ul::-webkit-scrollbar {
    display: none;
}

main article > ul > li {
    flex: 0 0 auto;
}

/* film tijd button */
main article > ul button {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    column-gap: .3em;
    width: 12rem;
    padding: 0 0 .8em;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--color-button2);
    color: var(--color-text2);
    text-align: left;
    cursor: pointer;
}

main article > ul button svg {
    width: 1em;
    height: 1em;
    color: var(--color-text3);
}


/* bovenste deel */
main article > ul button > :first-child {
    flex-basis: 100%;
    margin-bottom: 2rem;
    padding: .3rem;
    background-color: var(--color-special);
    text-align: center;
    text-transform: uppercase;
    font-size: .7rem;
}

main article > ul small, main article > ul mark {
    padding: .1rem .2rem;
    border-radius: 2px;
    font-size: .7rem;
    text-transform: uppercase;
    font-weight: bold;
}

main article > ul strong:nth-of-type(2) {
    background-color: var(--color-special);
    border-radius: 2px;
    padding: .2rem;
    font-size: .6rem;
    margin-bottom: .2rem;
}

main article > ul small {
    background-color: var(--color-button3);
    color: var(--color-text2);
    margin-left: .8rem;
}

main article > ul mark {
    background-color: var(--color-button1);
    color: var(--color-text);
}

main article > ul time:first-of-type {
    margin-left: .8rem;
    font-size: 2rem;
    font-weight: bold;
}

main section:nth-of-type(2) h2 {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 3rem 0 0 1rem;
    color: var(--color-text2);
    text-transform: uppercase;
    font-size: .9rem;
}

main section:nth-of-type(2) h2::before, main section:nth-of-type(2) h2::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: var(--color-text3);
}

main section:nth-of-type(2) strong:nth-of-type(2) {
    margin-left: .8rem;
}


/* ------==Animatie==------ */

/* boek nu button */

@keyframes remove-boek-nu {
    
    0% {
        opacity: 1;
        translate: 0 0;
    }
    
    100% {
        opacity: 0;
        visibility: hidden;
        translate: 0 1em;
    }
}

/* ------==Computer screen width==------ */

@media (min-width: 68em) {
    
    /* logo en boek nu button */
    body > a, header > a {
		display: none;
	}

    /* header */
    header {
        position: relative;
        z-index: 0;
        grid-template-rows: none;
        grid-template-columns: 2em auto auto 1fr;
        padding-top: 8em;
    }

    /* achtergrond img en gradient div */
    header > img:nth-of-type(1), header div {
        grid-row: auto;
        grid-column: auto;
        position: absolute;
        inset: 0;
        z-index: -1;
    }

    header > img:nth-of-type(1) {
        left: 20%;
        width: 80%;
    }

    header div {
        background: linear-gradient(transparent 85%, var(--color-background)), linear-gradient(to right, var(--color-gradient1) 30%, transparent 65%);
    }

    /* film title */
    header section h1 {
        grid-row-start: 1;
        grid-column: 2 / 5;
        max-width: 32rem;
        margin: 0 0 1.5rem;
        text-align: left;
        font-family: var(--font-SMtitle);
        font-size: 3.5rem;
        line-height: 3.5rem;
    }

    /* play button */
    header section > button:nth-of-type(1) {
        grid-row: auto;
        grid-column: auto;
        position: absolute;
        top: 55%;
        left: 70%;
        translate: -50% -50%;
        width: 5em;
        height: 5em;
        margin: 0;
    }

    header section > button:nth-of-type(1) svg {
        width: 2em;
        height: 2em;
    }

    /* watchlist en beoordelen button */
    header section > button:nth-of-type(2), header section > button:nth-of-type(3) {
        grid-row-start: 2;
        padding: 1rem 1.5rem;
        font-size: 1rem;
    }

    header section > button:nth-of-type(2) {
        grid-column: 2;
        margin: 0 .5rem 1.5rem 0;
    }

    header section > button:nth-of-type(3) {
        grid-column: 3;
        margin: 0 0 1.5rem;
    }

    /* lijst met info over film */
    header section > ul {
        grid-row-start: 3;
        grid-column: 2 / 5;
        margin: 0 0 1rem;
        font-size: .9rem;
    }

    header section > p {
        grid-column: 2 / 5;
        max-width: 32rem;
        margin: .5rem 0 0;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    header section > p:nth-of-type(3) {
        display: block;
    }

    /* info, trailer, details a  */
    header section > a {
        grid-column: 2 / 5;
        justify-self: start;
        margin: 1rem 0 2rem;
    }

    /* details info */
    header section details {
        grid-column: 2 / 5;
        max-width: 32rem;
        margin: 0 0 4rem;
    }

    /* locatie dropdown */
    main search {
        margin-right: 0;
    }

    main search > button:nth-of-type(1) svg {
        display: none;
    }

    main search > button:nth-of-type(2), main search > button:nth-of-type(3) {
        display: flex;
        align-items: center;
        gap: .5rem;
        margin: .5rem .5rem .5rem 0;
        padding: 1rem;
        border: none;
        border-radius: 8px;
        background-color: var(--color-button3);
        color: var(--color-text2);
        font-size: 1rem;
        font-weight: bold;
    }

    /* kies een datum */
    main section:nth-of-type(1) {
        grid-template-columns: auto auto minmax(0, 1fr) auto auto;
        padding: 0 2em;
    }

    main section:nth-of-type(1) > button:not(:nth-of-type(1)) {
        display: flex;
    }

    main section:nth-of-type(1) > button:nth-of-type(1), main section:nth-of-type(1) > button:nth-of-type(4) {
        flex-direction: column;
        gap: .3rem;
        padding: 0 1.5rem;
        font-size: 1rem;
    }

    main section:nth-of-type(1) > button:nth-of-type(2) {
        grid-column-start: 2;
    }

    main section:nth-of-type(1) > ul {
        grid-column-start: 3;
    }

    main section:nth-of-type(1) > button:nth-of-type(3) {
        grid-column-start: 4;
    }

    main section:nth-of-type(1) > button:nth-of-type(4) {
        grid-column-start: 5;
    }
    
    main section:nth-of-type(1) label {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 8rem;
        height: 5.5rem;
    }

    /* tijden */
    main article > ul > li:not(:nth-of-type(1)) {
        display: block;
        width: 12rem;
        border: 1px solid var(--color-border1);
        border-radius: 8px;
    }

}