/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-text2:white;
	--color-text3: #7b7c7c;
	--color-background:#090a0b;
	--color-nav:#1b1d1f;
	--color-button1: #feb91e;
	--color-button2: #222324;
	--color-button3: rgba(90, 87, 87, 0.696);
	--color-special: #e83e31;

	/* fonts */
	--font-1: "Heebo", Arial, sans-serif;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/* both pages */

body {
	margin: 0;
	background-color: var(--color-background);
	font-family: var(--font-1);
}

button {
	font-family: inherit;
}

/* ------==Header==------ */

/* computer nav */
header > nav {
	display: none;
}

/* taal select computer */
header > nav > ul:nth-last-of-type(1) {
	display: none;
	position: absolute;
	top: 100%;
	right: 2.5em;
	min-width: 12em;
	margin: 0;
	padding: .5em;
	border-radius: 8px;
	background-color: var(--color-background);
}

header > nav >  button[aria-expanded="true"] + ul {
	display: block;
}

header > nav > ul:last-of-type a {
	padding: .8em 1em;
	font-weight: bold;
}

header > nav > button[aria-expanded] svg {
	transition: rotate .2s ease;
}

header > nav >  button[aria-expanded="true"] svg {
	rotate: 180deg;
}






header {
	display: grid;
	column-gap: .5em;
}

header section {
	display: contents;
}

/* zoekbar knop */
header > button {
	grid-row-start: 1;
	justify-self: end;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.5em;
	height: 3.5em;
	border: none;
	border-radius: 8px;
	background-color: var(--color-button3);
	color: var(--color-text2);
}

header > button:nth-of-type(1) {
	grid-column-start: 3;
	margin: .7em .5em 0 0;
}

/* Account knop */
header > button:nth-of-type(2) {
	grid-column-start: 4;
	margin: .7em 1em 0 0;
}

header svg {
	width: 1.5em;
	height: 1.5em;
}

header > button svg {
	color: var(--color-text2);
}


/* ------==Nav==------ */


body > nav {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: var(--color-nav);
	z-index: 5;
}

body > nav ul {
	display: flex;
	justify-content: space-around;
	list-style: none;
	margin: 0;
	padding: .8em;
}

body > nav a {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: .2rem;
	text-decoration: none;
	color: var(--color-text2);
	font-size: .8em;
}

body > nav svg {
	width: 1.5em;
	height: 1.5em;
}

/* ------==Footer==------ */

footer {
	padding: 0 1em 5em;
}

/* logo and taal knoppen */
footer section:nth-of-type(1) {
	display: flex;
	align-items: center;
	margin-bottom: 2em;
}

footer section:nth-of-type(1) img {
	height: 4em;
}


footer section:nth-of-type(1) button {
	background-color: var(--color-nav);
	color: var(--color-text2);
	border-radius: 8px;
	padding: .8em 1.2em;
	font-weight: bold;
	border: none;
}

footer section:nth-of-type(1) button:nth-of-type(1) {
	margin: 0 1em 0 auto;
}

/* vragen sectie */

footer section:nth-of-type(2) {
	margin-bottom: 2em;
}

footer section:nth-of-type(2) > svg {
	width: 1.8em;
	height: 1.8em;
	color: var(--color-button1);
	transform: rotate(-8deg);
	margin-left: .5em;
	fill: currentColor;
}

footer h2 {
	color: var(--color-text2);
	margin-bottom: .8em;
}

footer section:nth-of-type(2) > p {
	display: none;
}

footer section details:not(:nth-of-type(3)) {
	border-bottom: 1px solid rgb(78, 77, 77);
	color: var(--color-text2);
}

footer section summary {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1rem 0;
	color: var(--color-text2);
	font-weight: bold;
	font-size: .8rem;
	list-style: none;
}

footer details > p {
	color: var(--color-text2);
	font-size: .9rem;
}

footer details > p:nth-last-of-type(1) {
	margin-bottom: 3rem;
}

footer details ol {
	margin-bottom: 2rem;
	padding: 0;
	font-size: .9rem;
	color: var(--color-text2);
}

footer details:nth-of-type(2) ol {
	list-style-type: '- ';
}


footer details ol li {
	margin: .8rem;
}

footer section:nth-of-type(2) > a {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--color-nav);
	color: var(--color-text2);
	font-weight: bold;
	border-radius: 8px;
	padding: 1em;
	margin-top: 1em;
	text-decoration: none;
}
 /* nav */

 footer nav {
	margin-bottom: 1em;
 }

 footer nav details {
	background-color: var(--color-nav);
	border-radius: 8px;
	margin-bottom: .5em;
	padding: 1em;
 }

 footer nav details:nth-of-type(3) summary {
	text-transform: uppercase;
 }
 
 footer nav summary {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--color-text2);
	font-weight: bold;
	list-style: none;
 }

 footer nav ul {
	margin-bottom: .5em;
	list-style: none;
	padding: 0;
 }

 footer nav ul li {
	margin-bottom: .5em;
 }

 footer nav ul a {
	color: var(--color-text3);
	text-decoration: none;
 }

 footer > ul {
	display: flex;
	justify-content: center;
	gap: 1.2em;
	list-style: none;
	margin: .5em 0;
	padding: 0;
 }

footer ul img {
	width: 1.5em;
	height: 1.5em;
	filter: invert(1);
}

footer > p {
	text-align: center;
	color: var(--color-text3);
	margin: .2rem 0;
	font-size: .8rem;
}

/* ------==Animatie==------ */


/* ------==Computer screen width==------ */

@media (min-width: 68em) {

	/* phone nav */
	body > nav, header > button {
		display: none;
	}

	/* Computer nav */
	header > nav {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 5;
		display: flex;
		align-items: center;
		gap: 1em;
		padding: 1em 2.5em;
	}

	/* Pathe logo */
	header > nav h1 {
		margin: 0;
	}

	header > nav > a img, header > nav h1 img {
		width: 2em;
		height: 2em;
	}

	/* a in header */
	header > nav ul {
		display: flex;
		align-items: center;
		gap: .5em;
		list-style: none;
		margin: 0 auto 0 1em;
		padding: 0;
	}

	header > nav ul a {
		display: flex;
		align-items: center;
		gap: .5em;
		padding: .5em 1em;
		color: var(--color-text2);
		font-weight: bold;
		text-decoration: none;
	}

	/* club pathe button */
	header > nav li:nth-of-type(3) a {
		background-color: var(--color-button3);
		border-radius: 8px;
	}

	header > nav li img {
		height: 2.5em;
		margin: -.5em 0;
		rotate: -8deg;
	}

	header >  nav ul svg {
		width: 1.2em;
		height: 1.2em;
	}

	/* zoek, account en taal knoppen */
	header > nav > button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 3.5em;
		height: 3.5em;
		border: none;
		border-radius: 8px;
		background-color: var(--color-button3);
		color: var(--color-text2);
	}

	/* taal knop */

	header > nav > button:last-of-type {
		width: auto;
		gap: .3rem;
		background: none;
		font-size: 1rem;
		font-weight: bold;
	}

	/* footer */

	/* vragen */
	footer section:nth-of-type(2) {
		display: grid;
		grid-template-columns: auto 1fr 1fr;
		grid-template-rows: auto auto 1fr;
		column-gap:	2em;
		align-items: start;
		margin: 3em 5em;
	}

	/* text bubble */
	footer section:nth-of-type(2) > svg {
		grid-row: 1;
		grid-column: 1;
		align-self: end;
		width: 2.5em;
		height: 2.5em;
	}

	/* h2 */
	footer section:nth-of-type(2) > h2 {
		grid-row: 1;
		grid-column: 2;
		align-self: end;
		margin: 0;
		font-size: 2rem;
	}

	/* text onder h2 */
	footer section:nth-of-type(2) > p {
		display: block;
		grid-row: 2;
		grid-column: 2;
		margin: 0;
		color: var(--color-text2);
	}

	/* klanten service link */
	footer section:nth-of-type(2) > a {
		grid-row: 3;
		grid-column: 2;
		justify-self: start;
		gap: .5em;
	}

	/* details */
	footer section:nth-of-type(2) details {
		grid-column: 3;
	}

	/* nav */
	footer nav {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		column-gap: 1em;
		margin: 5em 2em;
		border-top: 1px solid grey;
		padding-top: 2em;
	}

	footer nav details {
		margin: 0;
		padding: 0;
		background: none;
		border-radius: 0;
	}

	footer nav details::details-content {
		content-visibility: visible;
	}

	footer nav summary svg {
		display: none;
	}

	footer nav ul {
		margin: 1em 0 0;
	}

	footer nav ul li {
		margin-bottom: .5em;
	}

}